apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: resourcify-db
spec:
  serviceName: "resourcify-db"
  replicas: 1
  selector:
    matchLabels:
      app: resourcify-db
  template:
    metadata:
      labels:
        app: resourcify-db
    spec:
      containers:
      - name: mysql
        image: mysql:8.0
        ports:
        - containerPort: 3306
        env:
        - name: MYSQL_ROOT_PASSWORD
          value: 1212 # Matches backend config
        - name: MYSQL_DATABASE
          value: skillswap_db
        volumeMounts:
        - name: mysql-persistent-storage
          mountPath: /var/lib/mysql
  volumeClaimTemplates:
  - metadata:
      name: mysql-persistent-storage
    spec:
      accessModes: [ "ReadWriteOnce" ]
      resources:
        requests:
          storage: 1Gi
---
apiVersion: v1
kind: Service
metadata:
  name: resourcify-db
spec:
  ports:
  - port: 3306
  selector:
    app: resourcify-db
  clusterIP: None
